<div class="card mt-5 pt-5 py-3">
    <div class="status d-flex py-2">
        <div class="status-item mx-3 ms-4">
            <div class="status-div">
                <a href="#">
                    <img class="img-fluid"
                        src="/media/img/image1.jpeg"
                        alt="">
                </a>
            </div>
            <div class="username mt-1">
                <small>carole_rose</small>
            </div>
        </div>
  
        <div class="status-item mx-3">
            <div class="status-div">
                <a href="#">
                    <img class="img-fluid"
                        src="/media/img/kate.jpeg"
                        alt="">
                </a>
            </div>
            <div class="username mt-1">
                <small>kate kimani</small>
            </div>
        </div>
  
        <div class="status-item mx-3">
            <div class="status-div">
                <a href="#">
                    <img class="img-fluid"
                        src="/media/img/cat.jpg"
                        alt="">
                </a>
            </div>
            <div class="username mt-1">
                <small>amelia_j</small>
            </div>
        </div>
  
        <div class="status-item mx-3">
            <div class="status-div">
                <a href="#">
                    <img class="img-fluid"
                        src="/media/img/image4.jpeg"
                        alt="">
                </a>
            </div>
            <div class="username mt-1">
                <small>Georgy_g</small>
            </div>
        </div>
  
        <div class="status-item mx-3">
            <div class="status-div">
                <a href="#">
                    <img class="img-fluid"
                        src="/media/img/fab.jpg"
                        alt="">
                </a>
            </div>
            <div class="username mt-1">
                <small>Fabian kariuki
                </small>
            </div>
        </div>
  
        <div class="status-item mx-3">
            <div class="status-div">
                <a href="#">
                    <img class="img-fluid"
                        src="/media/img/Whitewolf.jpg"
                        alt="">
                </a>
            </div>
            <div class="username mt-1">
                <small>Bridget k</small>
            </div>
        </div>
  
        <div class="status-item mx-3">
            <div class="status-div">
                <a href="#">
                    <img class="img-fluid"
                        src="/media/img/image4.jpg"
                        alt="">
                </a>
            </div>
            <div class="username mt-1">
                <small>Vincent k</small>
            </div>
        </div>
  
        <div class="status-item mx-3">
            <div class="status-div">
                <a href="#">
                    <img class="img-fluid"
                        src="/media/img/image5.jpeg"
                        alt="">
                </a>
            </div>
            <div class="username mt-1">
                <small>Lee John</small>
            </div>
        </div>
  
    </div>
  </div>